<div class="header-content d-none d-md-block d-lg-block d-sm-block">
  <h1>ZATTIX</h1>
  <p class="mb-5">Buying And Selling farm equipment Couldn't be Simpler than this!</p>
  <form action="#">
      <select class="inpt-txt">
          <option value="All Equipments">All Equipments</option>
          <option value="Tractor">Tractor</option>
          <option value="Garden tools">Garden tools</option>
          <option value="Spraying Cans">Spraying Cans</option>
        </select>
      <input type="text" placeholder="What do you serach for?" class="pl-1 inpt-txt inpt-txt-spcl">
      <input type="text" placeholder="Type" class="pl-1 inpt-txt inpt-txt-spcl">
      <button class="btn-search" onclick="window.location.href = 'search.html';">Search</button>
  </form>
</div>
